.menu-container {
	display: flex;
	background-color: #1e1f2b;
	color: rgba(255, 255, 255, 0.43);
	font-family: 'Monaco', sans-serif;
	height: 30px;
	align-items: center;
	justify-content: center;

	.menu-links {
		display: flex;
		flex: 1;
		margin-right: auto;
		list-style: none;

		:first-child {
			display: flex;
			width: 1.2rem;
			height: 1rem;
			cursor: pointer;
			padding-left: 7px;
			padding-right: 5px;
		}
		:first-child:hover {
			background-color: transparent;
			cursor: default;
		}

		* {
			font-size: 0.75em;
			padding: 2px 7.5px;
		}

		*:hover {
			cursor: pointer;
			background-color: hsla(0, 100%, 100%, 0.1);
			border-radius: 5px;
		}
	}
	.title {
		flex: 1;
		text-align: center;
		font-size: 0.65rem;
		color: rgba(255, 255, 255, 0.516);
		margin: 0px;
		padding: 0px;
	}

	.icons {
		color: rgba(255, 255, 255, 0.516);
		display: flex;
		flex: 1;
		align-items: center;
		margin-left: auto;
		* {
			padding: 6px 13px;
			height: 15px;
			width: 16px;
			cursor: pointer;
		}
		:first-child {
			margin-left: auto;
		}

		:hover {
			background-color: hsla(0, 100%, 100%, 0.1);
		}
		:last-child:hover {
			background-color: red;
			color: white;
		}
	}
}
