.explorer-container {
	width: 150px;
	height: calc(100vh - 29px - 19px);
	background-color: #1e1f2b;
	box-sizing: border-box;
	border-right: 1px solid hsla(0, 0%, 0%, 0.2);
	position: relative;
	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		align-items: center;
		padding-left: 15px;
		height: 25px;
		font-size: 0.7em;
		font-weight: normal;
		color: hsla(100, 100%, 100%, 0.1);

		.ellipsis {
			display: flex;
			margin-left: auto;
			margin-right: 8px;
			color: hsla(100, 100%, 100%, 0.4);
			padding: 2px 3px;
		}
		.ellipsis:hover {
			background-color: hsla(100, 100%, 100%, 0.1);
			border-radius: 5px;
			cursor: pointer;
		}
	}
	.category {
		display: flex;
		align-items: center;
		color: hsla(100, 100%, 100%, 0.4);
		font-size: 0.7em;
		font-weight: 700;
		cursor: pointer;
		.chevron {
			color: hsla(100, 100%, 100%, 0.6);
		}
	}
	.explorer-items {
		.active .item-container {
			background-color: hsla(100, 100%, 100%, 0.05);
		}
		.item-container {
			display: flex;
			align-items: center;
			font-size: 0.7rem;
			height: 20px;
			.icon {
				display: flex;
				margin-left: 15px;
			}
			.itemName {
				display: flex;
				text-decoration: none;
				margin-left: 5px;
				color: hsla(100, 100%, 100%, 0.6);
				.itemName:hover {
					background-color: red;
				}
			}
		}
		.item-container:hover {
			background-color: hsla(100, 100%, 100%, 0.05);
		}
	}
	.explorer-items a:active {
		background-color: red;
	}
	.explorer-footer {
		display: flex;
		justify-content: flex-end;
		height: 100%;
		color: hsla(100, 100%, 100%, 0.4);
		font-size: 0.6em;
		font-weight: 700;
		flex-direction: column;
		flex-grow: 1;
	}
	.outline,
	.timeline {
		cursor: pointer;
		display: flex;
		align-items: center;
		line-height: 0.5;
		.chevron {
			display: flex;
			align-items: center;
		}
	}
	.outline:hover {
		background-color: hsla(100, 100%, 100%, 0.05);
	}

	.timeline:hover {
		background-color: hsla(100, 100%, 100%, 0.05);
	}

	@media (max-width: 1000px) {
		display: none;
	}
}
