.explorer-container {
	width: 300px;
	height: calc(100vh - 29px - 19px);
	background-color: #1e1f2b;
	box-sizing: border-box;
	border-right: 1px solid hsla(0, 0%, 0%, 0.2);

	.header {
		display: flex;
		align-items: center;
		padding-left: 15px;
		height: 25px;
		font-size: 0.7em;
		font-weight: normal;
		color: hsla(100, 100%, 100%, 0.1);

		.ellipsis {
			display: flex;
			margin-left: auto;
			margin-right: 8px;
			color: hsla(100, 100%, 100%, 0.4);
			padding: 2px 3px;
		}
		.ellipsis:hover {
			background-color: hsla(100, 100%, 100%, 0.1);
			border-radius: 5px;
			cursor: pointer;
		}
	}
	.category {
		display: flex;
		align-items: center;
		color: hsla(100, 100%, 100%, 0.4);
		font-size: 0.7em;
		font-weight: 700;
		cursor: pointer;
		.chevron {
			color: hsla(100, 100%, 100%, 0.6);
		}
	}
	.explorer-items {
		a:hover,
		a:visited,
		a:link,
		a:active {
			text-decoration: none;
		}
		.item-container {
			display: flex;
			align-items: center;
			font-size: 0.7rem;
			height: 20px;
			.icon {
				display: flex;
				margin-left: 15px;
			}
			.name {
				display: flex;
				text-decoration: none;
				margin-left: 5px;
				color: hsla(100, 100%, 100%, 0.6);
				.name:hover {
					background-color: red;
				}
			}
		}
		.item-container:hover {
			background-color: hsla(100, 100%, 100%, 0.05);
		}
	}
	.explorer-footer {
		display: flex;
		flex-direction: column;
		color: hsla(100, 100%, 100%, 0.4);
		font-size: 0.6em;
		font-weight: 700;
		cursor: pointer;
		height: 1110.6px;
	}
	.outline {
		margin-top: auto;
		display: flex;
		align-items: center;
		height: 18px;
	}
	.outline:hover {
		background-color: hsla(100, 100%, 100%, 0.05);
	}
	.timeline {
		display: flex;
		align-items: center;
		height: 18px;
	}
	.timeline:hover {
		background-color: hsla(100, 100%, 100%, 0.05);
	}
}
