.tabsbar-container {
	display: flex;
	align-items: center;
	overflow-x: auto;
	a {
		width: 105px;
	}

	a:hover,
	a:visited,
	a:link {
		text-decoration: none;
	}
	.active {
		border-bottom: 1px solid hsl(40, 100%, 70%);
		.tabsbar-name {
			display: flex;
			color: hsl(40, 10%, 70%)
		}
	}
	.tabsbar-item-container {
		display: flex;
		align-items: center;
		font-size: 0.7rem;

		height: 23px;
		margin: 0 15px;

		.tabsbar-icon {
			margin-right: 3px;
		}
		.tabsbar-name {
			color: hsl(100, 100%, 100%, 0.6);
		}
	}
	// @media (max-width: 576px) {
	// 	.tabsbar-icon {
	// 		display: flex;
	// 		justify-content: center;
	// 		align-items: center;
	// 	}
	// 	.tabsbar-name {
	// 		display: none;
	// 	}
	// 	.active {
	// 		border-bottom: 0;
	// 		.tabsbar-name {
	// 			display: none;
	// 		}
	// 	}
	// }
}
