.about-container {
	display: flex;
	font-family: 'Consolas';
	height: 100%;
	width: 100%;
	justify-content: center;

	.aboutContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: hsla(100, 100%, 100%, 0.8);
	}

	.aboutName {
		display: flex;
		width: max-content;
		font-size: 10.5em;
		font-weight: 600;
		margin-bottom: 0.5rem;
		line-height: 1;
	}
	.aboutActivity {
		display: flex;
		width: max-content;
		color: hsl(20, 96%, 69%);
		font-size: 6rem;
		font-weight: 300;
		margin-bottom: 3rem;
		span:nth-child(2) {
			display: flex;
			width: 0;
		}
	}
	.buttons {
		margin-top: 3rem;
		display: flex;
		width: 100%;
		justify-content: center;

		button {
			font-family: 'Consolas';
			width: 6rem;
			font-size: 4.5rem;
			width: 350px;
			height: 200px;
			margin: 0px 20px;
			font-weight: 600;
			border: none;
			cursor: pointer;
			background: hsla(20, 96%, 69%, 0.8);
			border-radius: 3px;
		}
		a {
			text-decoration: none;
			color: white
		}
		button:hover {
			border: 3px solid white;
		}
	}

	@media (max-width: 1280px) {
		.aboutName {
			font-size: 6em;
		}
		.aboutActivity {
			font-size: 4em;
		}
	}

	@media (max-width: 768px) {
		.aboutName {
			font-size: 4em;
		}
		.aboutActivity {
			font-size: 2em;
		}
	}

	@media (max-width: 300px) {
		.aboutName {
			font-size: 2rem;
		}
		.aboutActivity {
			font-size: 1rem;
		}
	}
}

// @media (max-width: 768px) {
// 	.aboutName {
// 		font-size: 6em;
// 	}
// 	.aboutActivity {
// 		font-size: 3em;
// 	}
// 	.buttons {
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: center;
// 		align-items: center;
// 		margin-top: 0;
// 		button {

// 		}
// 	}
// }

// @media (max-width: 768px) {

// }

// @media (max-width: 1400px) {
// 	.aboutName {
// 		font-size: 8rem;
// 	}
// 	.aboutActivity {
// 		font-size: 5rem;
// 	}
// }
