/* .App {
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: 0.13fr 0.5fr 3fr;
	grid-template-rows: 0.04fr 0.04fr 1.7fr 0.04fr;
	gap: 0px 0px;
	grid-template-areas: "file file file" "sidebar explorer tabs"
		"sidebar explorer content" "footer footer footer";
	height: 100vh;
	background-color: red;
}

.file {
	grid-area: menu;
	background-color: #1e1f2b;
	color: white;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.footer {
	grid-area: footer;
	background-color: #1e1f2b;
	color: white;
	border-top: 1px solid hsla(0, 0%, 0%, 0.2);
}

.tabs {
	grid-area: tabs;
	background-color: #282a3a;
	color: white;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.sidebar {
	grid-area: sidebar;
	background-color: #161821;
	color: white;
	border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.explorer {
	grid-area: explorer;
	background-color: #1e1f2b;
	color: white;
	border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.content {
	grid-area: content;
	background-color: #282a3a;
	color: white;
} */
