:root {
  --pf-yellow: hsl(40, 95%, 64%);
  --pf-orange: hsl(20, 96%, 69%);
  --pf-darkgray: hsla(100, 100%, 100%, 0.1);
  --pf-lightdark: hsla(0, 0%, 0%, 0.3);
  --pf-lightgray: hsla(100, 100%, 100%, 0.5);
  --pf-lightwhite: hsla(100, 100%, 100%, 0.6);
  --pf-hovergray: hsla(100, 100%, 100%, 0.05);
  --pf-almostwhite: hsla(100, 100%, 100%, 0.8);
}

body {
  margin: 0;
  font-family: 'Monaco', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: unset;
}
